body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-bottom: 60px;
}
html {
    position: relative; 
    min-height: 100%; 
}
header {
  background: #ecf0f1;
}
div.main {
    padding-bottom: 40px;
}

footer {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top:18px; 
    background-color: #ecf0f1;
    height: 60px; 
}

p {
    font-size: 1.00em; /* 1.08em */
}
h1,
.h1 {
  margin-top: 28px;
  font-size: 33px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 12px;
}
h2,
.h2 {
  font-size: 22px;
  padding-bottom: 18px;
}
h3,
.h3 {
  font-size: 18px;
  padding-bottom: 14px;
}
h4,
.h4 {
  font-size: 14px;
  padding-bottom: 10px;
}

pre {
    background:#f9f9f9;
}
pre code {
    color: #008000;
}

td code {
  background-color: inherit;
}

p code {
    font-size: 0.8em;
    color: #008000;
}

td {
    font-size: 0.97em;
}

th.center {
    text-align: center;
}

.main a:link    {color: #337ab7;}
.main a:visited {color: #337ab7;}
.main a:hover   {color: #337ab7;
    text-decoration: underline;
}

/*
 * Sidebar
 */
/* Sidebar navigation */
.panel {
    /* The panel class is necessary to get accordion expand/collapse to work (bootstrap bug)
     * This class override nulls the panel style
     */
    margin-bottom: 0px;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-sidebar {
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}
.nav-sidebar > li > a {
  padding: 0 20px 0 0px;
}

.nav-inner > li > a {
    padding :0;
    font-size: 0.95em; /* 0.98 */
}
.nav-toggle {
font-size: 0.98em; /* 1.08 */
}
.nav-toggle.open {
    /* color: green; */
    color: #B522B5;
    font-weight: bold;
}
.nav-selected {
  font-weight: bold;
  color: #000000;
}
.nav-sidebar > li > h4 {
  font-size: 15px;
  padding-left: 14px;
  margin-bottom: 0px;
}
.nav-sidebar > li {
  padding: 0px 0 7px 0px;
}
.nav-sidebar > li > ul > li > a {
  padding-left: 1em;
}
.nav-sidebar > li > ul {
  padding: 0px;
  padding-left: 0px; /* 40 */
  list-style: none;
}
.nav-sidebar > li > ul > li > ul {
  /* padding-left: 20px; */

  list-style: none;
}
.nav-sidebar a {
  cursor:pointer;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.img-border {
    padding: 20px 40px 40px 20px;
}
.fiximage > img {
    max-width: 100%;
    max-height: 100%;
}

blockquote {
    font-size:16px; 
    color: #707070;
}

.navbar-brand > img {
    width: 30px;
    display: inline;
    margin-top: -6px;
}
