
p {
    font-weight: 320;
    font-size: 1.1em;
}

h1,
.h1 {
  margin-top: 28px;
  font-size: 33px;
  padding-bottom: 20px;
}
h2,
.h2 {
  font-size: 25px;
  padding-bottom: 18px;
}
h3,
.h3 {
  font-size: 20px;
  padding-bottom: 14px;
}
h4,
.h4 {
  font-size: 15px;
  padding-bottom: 10px;
}

pre code {
    /* darker red */
    /* color: #B52248; */
    /* kinda red */
    color: #c7254e; 
}

.main a:link    {color: #0000EE;}
.main a:visited {color: #0000EE;}
.main a:hover   {color: #60a0ff;}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
  .sidebar {
    position: absolute;
    /* position: fixed; */
    /* bottom: 0; */
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ 
    background-color: #ffffff; /* #f5f5f5; */
    border-right: 1px solid #eee;
  }
@media (min-width: 768px) {
    .sidebar {
        top: 123px;
    }
}
@media (min-width: 992px) {
    .sidebar {
        top: 62px;
    }
}

.nav > li {
    padding: 0 0 0px 0; /* was 0 0 5px 0  but left too much space under sub item */
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding: 0 20px 0 14px;
}

.nav-inner > li > a {
    padding :0;
}
.nav-toggle {
  margin-left: -14px;
}
.nav-selected {
  font-weight: bold;
  color: #000000;
}
.nav-sidebar > li > h4 {
  font-size: 15px;
  padding-left: 14px;
  margin-bottom: 0px;
}
.nav-sidebar > li {
  padding: 5px 0 10px 20px;
}
.nav-sidebar > li > ul {
  padding: 0px;
  padding-left: 30px; /* 40 */
  list-style: none;
}
.nav-sidebar > li > ul > li > ul {
  /* padding-left: 20px; */
  list-style: none;
}
.nav-sidebar a {
  cursor:pointer;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-toggle.collapsed:before {
    content: "▸"; /* Right caret */
    margin-right: 5px;
}
.nav-toggle:not(.collapsed):before {
    content: "▾"; /* down caret */
    margin-right: 3px;
}

