/*stylesheet 6/12 | http://localhost:3100/css/general.css*/
body { width: 100%; }
.abcen1 { position: absolute; top: 10%; }
.h1_home { font-size: 80px; font-family: muli, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 1px; text-shadow: #000 1px 1px 0px; }
.h3_home { font-size: 30px; font-weight: 300; text-shadow: #000 1px 1px 0px; }
.img-responsive { box-shadow: #ddd 5px 5px 10px 2px; }
#preloader { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: #fff; z-index: 99; }
#status { width: 200px; height: 200px; position: absolute; left: 50%; top: 50%; background-image: url("/images/home/status.gif"); background-repeat: no-repeat; background-position: center center; margin: -100px 0px 0px -100px; }
.mybutton_cyan { border: 1px solid #2a70be; color: #fff; background-color: #2a70be; }
.mybutton_cyan:hover { border: 1px solid #7ac0fe; background: rgba(204, 204, 204, 0); color: #fff !important; }
.mybutton_green { border: 1px solid #297a4a; color: #fff; background-color: #297a4a; }
.mybutton_green:hover { background-color: #499a6a; color: #fff !important; }
.lead { font-size: 16px; font-weight: 400; }
.intro-header { height: 80%; padding-top: 50px; padding-bottom: 50px; color: #f8f8f8; background: url("/images/home/hexagon-colour4.jpg") center center / cover no-repeat; text-align: center; min-height: 550px; max-height: 650px; background-size:cover;}
.list-inline { margin-top: 30px; }
.network-name { font-size: 15px; font-weight: 400; letter-spacing: 1.2px; text-shadow: #5a5a5a 1px 1px 0px; }
.content-section-a { background-color: #f8f8f8; padding: 90px 0px; }
.content-section-b { border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; padding: 30px 0px; }
.section-heading { margin-bottom: 30px; }
.rotate { transition-duration: 0.8s; transition-property: transform; overflow: hidden; }
.rotate:hover { transform: rotate(360deg); }
.h1_home > img { fill: white; width: 120px; display: block; margin: 0px auto; }

/*stylesheet 7/12 | http://localhost:3100/css/custom.css*/
h1 { margin-top: 80px; }
.wrap_title { margin-bottom: 20px; }

/*stylesheet 10/12 | http://localhost:3100/css/style.css*/
body { height: 100%; width: 100%; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.72222; color: #34495e; background-color: #fff; }
a { color: #34495e; text-decoration: none; transition: 0.25s; }
a:hover { color: #34495e; text-decoration: none; }
h1,h2,h3 { font-family: inherit; font-weight: 700; line-height: 1.1; color: inherit; }
h1,h2,h3 { margin-top: 20px; margin-bottom: 5px; }
h1 { font-size: 80px; }
p { font-size: 16px; line-height: 1.72222; margin: 0px 0px 15px; }
ul li { list-style-type: none; }
.lead { margin-bottom: 30px; margin-top: 10px; font-size: 18px; line-height: 1.46429; font-weight: 300; }
ul { margin-bottom: 15px; }
.btn { font-size: 15px; font-weight: normal; line-height: 1.4; border-radius: 4px; padding: 10px 15px; -webkit-font-smoothing: subpixel-antialiased; transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }
.btn:hover { outline: none; color: #fff; }
.btn:active { outline: none; box-shadow: none; }
.btn-lg { padding: 10px 19px; font-size: 17px; line-height: 1.471; border-radius: 6px; }
footer p { font-size: 15px; line-height: 20px; margin-bottom: 10px; }
.my-fa-icon-inner { font-size: 50px; }
.my-fa-icon-circle { font-size: 110px; }
.my-fa-icon-group { font-size: 50px; }

/* 960 Screens */
@media only screen and (min-width: 960px) and (max-width: 1250px) {
	
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
	
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		h1, .h1 {
			font-size: 50px;
		}
		
		h3, .h3 {
			font-size: 20px;
		}
		
}

        .h1_home > img {
            fill: white;
            width: 120px;
            display: block;
            margin: 0 auto;
            -webkit-filter: drop-shaddow( -5px -5px -5px #ffffff);
                    filter: drop-shaddow( -5px -5px -5px #ffffff);
        }

/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.intro-header {
			height: 80%;
			padding-top: 50px;
			padding-bottom: 50px;
			color: #f8f8f8;
	        background: url(/images/home/hexagon-colour4.jpg) no-repeat center center;
			background-size: cover;
			text-align: center;
			background-color: #34495e;
		}

        .h1_home {
            font-size: 60px;
        }
        .h3_home {
            font-size: 25px;
        }

		h1, .h1 {
			font-size: 50px;
		}
		
		h3, .h3 {
			font-size: 20px;
		}
		#gallery1{display:none}
		
		.button_down {display:none}
		
		
	}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	p{text-align: center;}
	
	h1, .h1 {
		font-size: 50px;
	}
	
	h3, .h3 {
		font-size: 20px;
		text-align:center
	}
	.col-sm-4 {margin-bottom: 0px; text-align:center;} /* 120px */
	.col-sm-4 > i{text-align:center;}
	.col-sm-5 .img-responsive {display:none}
	.col-sm-5 {margin-top:120px}
	.section-heading{text-align:center}
	.lead{text-align:center}
	.box-icon{margin: 0 auto;}
	.social{text-align:center}
	.footer-banner{display:none}
	.navbar-nav > li > a {
		font-size: 22px;
		line-height: 42px;
		font-weight: 400;
		text-align: center;
	}
	.sub-title{text-align:center}
	.pull-right {margin-bottom: 40px;}
	address{margin-top:130px;}
	.address{text-align:center}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	
	h1, .h1 {
		font-size: 50px;
	}
	
	h3, .h3 {
		font-size: 20px;
		
	}
	.col-sm-4 {margin-bottom: 0px; text-align:center;} /* 120px */
	
	.col-sm-5 {margin-top:120px}
	.box-ct{text-align:center}
	
	.box-icon{margin: 0 auto;}
	address{margin-top:80px;}
	.address{text-align:center}
	.footer-banner{display:none}
}
