<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Swaggerly - Beautiful integrated OpenAPI documentation">
    <meta name="author" content="">

    <title>Swaggerly – Beautiful, integrated, OpenAPI documentation</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Muli:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="/css/custom.css" rel="stylesheet">
	<link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/docs.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/css/magnific-popup.css"> 
	
	<script src="/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
        <![endif]-->
</head>

<body id="home">

	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/xindex.html">{<i class="fa fa-book"> </i>}  Swaggerly</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is Swaggerly?</a></li>
					<li class="menuItem"><a href="#gettingstarted">Getting Started</a></li>
					<li class="menuItem"><a href="#screen">Screenshot</a></li>
					<li class="menuItem"><a href="#documentation">Documentation</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is Swaggerly -->
    <!--<div id="whatis" class="content-section-b" style="border-top: 0"> -->
		<div class="container-fluid">
            <div class="row">

            <div class="col-sm-3 col-md-2 sidebar" >
              [: template "sidenav" :]
            </div>

            <!-- <div class="col-md-6 col-md-offset-3 text-center wrap_title"> -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                [: yield :]
			</div>
		</div>
        <!-- </div> -->
	
    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
	<script src="/js/owl.carousel.js"></script>
	<script src="/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();

    $('.items').hide();
    var $pagename=decodeURI( window.location.pathname );

    var $element=$('ul[id="navigation"]').find('a[href$="'+$pagename+'"]');
    console.log( $element );

    var api_id = $element.data('outer');
    var toggler = $("#toggle"+api_id);
    var outerul = $("#ul"+api_id);

    //outerul.removeClass('collapse');
    outerul.addClass('in');
    toggler.removeClass('collapsed');
    $element.addClass('nav-selected');

    $("#navigation").removeClass('hide');
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="/js/jquery.corner.js"></script> 
	<script src="/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/js/classie.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/js/jquery.magnific-popup.js"></script> 
<script>
</script>
</body>

</html>
