<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Swaggerly - Beautiful integrated OpenAPI documentation">
    <meta name="author" content="Chris Smith">

    <title>Swaggerly – Beautiful, integrated, OpenAPI documentation</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 
    <!-- Fonts -->
    <link href="/font-awesome-4.6.3/css/font-awesome.css" rel='stylesheet' type='text/css'>
<!--
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'> 
-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet"> 
	<link href='http://fonts.googleapis.com/css?family=Muli:400,700' rel='stylesheet' type='text/css'> 
	
    <!-- Custom CSS-->
    <link href="/css/general.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/docs.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
	
	<script src="/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <link href="/css/hilight-swaggerly.css" rel="stylesheet">
</head>

<body id="home" class="hide" style="overflow: visible">
    <header>
      <div class="container">
        <div class="row">
          <nav class="navbar-default" role="navigation">
             <div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/xindex.html">{<i class="fa fa-book"> </i>}  Swaggerly</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is Swaggerly?</a></li>
					<li class="menuItem"><a href="#gettingstarted">Getting Started</a></li>
					<li class="menuItem"><a href="#screen">Screenshot</a></li>
					<li class="menuItem"><a href="#documentation">Documentation</a></li>
				</ul>
			</div>
          </nav>
        </div>
      </div>
    </header>
		   
	<div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          [: template "sidenav" :]
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 main">
            [: yield :]
		</div>
      </div>
	</div>
	
    <!-- JS / JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		    //$('.navbar-default').stickUp();
            $('.items').hide();
            var $pagename=decodeURI( window.location.pathname );

            var $parent=$('ul[id="navigation"]')
            var $element=$parent.find('a[href$="'+$pagename+'"]');
            //console.log( $element );

            var api_id = $element.data('outer');
            var toggler = $("#toggle"+api_id);
            var outerul = $("#ul"+api_id);

            outerul.addClass('in');
            toggler.addClass('open');
            toggler.removeClass('collapsed');
            $element.addClass('nav-selected');

            $parent.removeClass('hide');
            $('body').removeClass('hide');
		});
	  });
	</script>
</body>
</html>
