<ul class="nav nav-sidebar hide" id="navigation" data-open="">
   <li class="panel">
       <a id="toggleIntro" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulIntro">Introduction</a>
       <ul class="nav nav-inner collapse" id="ulIntro">
           <li><a href="/docs/overview" data-outer="Intro">Overview</a></li>
           <li><a href="/docs/getting-started" data-outer="Intro">Getting started</a></li>
           <!-- <li><a href="/docs/rewrite-urls" data-outer="Intro">Rewriting URLs</a></li> -->
       </ul>
   </li>
   <li class="panel">
       <a id="toggleSpec" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulSpec">Specifications</a>
       <ul class="nav collapse nav-inner" id="ulSpec">
           <li><a href="/docs/spec-loading" data-outer="Spec">Loading specifications</a></li>
           <li><a href="/docs/spec-references" data-outer="Spec">Resolving references</a></li>
           <li><a href="/docs/spec-method-names" data-outer="Spec">Controlling method names</a></li>
           <li><a href="/docs/spec-resource-definitions" data-outer="Spec">Resource definitions</a></li>
           <li><a href="/docs/spec-tagging" data-outer="Spec">Operation tagging</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleRewrite" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulRewrite">Rewriting URLs</a>
       <ul class="nav collapse nav-inner" id="ulRewrite">
           <li><a href="/docs/rewrite-spec" data-outer="Rewrite">Specification URLs</a></li>
           <li><a href="/docs/rewrite-doc" data-outer="Rewrite">DocumentationURLs</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleAuthor" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulAuthor">Authoring content</a>
       <ul class="nav collapse nav-inner" id="ulAuthor">
           <li><a href="/docs/author-concepts" data-outer="Author">Concepts</a></li>
           <li><a href="/docs/author-page-types" data-outer="Author">Page types</a></li>
           <li><a href="/docs/author-guides" data-outer="Author">Writing guides</a></li>
           <li><a href="/docs/author-overlays" data-outer="Author">Content overlays</a></li>
           <li><a href="/docs/author-metadata" data-outer="Author">Metadata</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleExplorer" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulExplorer">The API explorer</a>
       <ul class="nav collapse nav-inner" id="ulExplorer">
           <li><a href="/docs/explorer-concepts" data-outer="Explorer">Concepts</a></li>
           <li><a href="/docs/explorer-customising" data-outer="Explorer">Customising</a></li>
       </ul>
   </li>
<!--
   <li class="panel">
       <a id="toggleVersioning" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulVersioning">API Versioning</a>
       <ul class="nav collapse nav-inner" id="ulVersioning">
           <li><a href="/docs/versioning-concept" data-outer="Versioning">Concepts</a></li>
           <li><a href="/docs/versioning-configuration" data-outer="Versioning">Configuration</a></li>
       </ul>
   </li>
-->
   <li class="panel">
       <a id="toggleProxy" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulProxy">Reverse proxy</a>
       <ul class="nav collapse nav-inner" id="ulProxy">
           <li><a href="/docs/proxy-concept" data-outer="Proxy">Concepts</a></li>
           <li><a href="/docs/proxy-configure" data-outer="Proxy">Configuration</a></li>
           <li><a href="/docs/proxy-integration" data-outer="Proxy">Integration</a></li>
       </ul>
   </li>
<!--
   <li class="panel">
       <a id="toggleThemes" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulThemes">Themes</a>
       <ul class="nav collapse nav-inner" id="ulThemes">
           <li><a href="/docs/theme-get" data-outer="Themes">Get a theme</a></li>
           <li><a href="/docs/theme-creating" data-outer="Themes">Creating a theme</a></li>
       </ul>
   </li>
-->
   <li class="panel">
       <a id="toggleConfiguration" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulConfiguration">Configuration</a>
       <ul class="nav collapse nav-inner" id="ulConfiguration">
           <li><a href="/docs/configuration-guide" data-outer="Configuration">Configuration guide</a></li>
           <li><a href="/docs/configuration-tls" data-outer="Configuration">Enabling TLS</a></li>
       </ul>
   </li>
<!--
   <li class="panel">
       <a id="toggleTips" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulTips">Tips</a>
       <ul class="nav collapse nav-inner" id="ulTips">
           <li><a href="/docs/tips-naming" data-outer="Tips">Naming conventions</a></li>
           <li><a href="/docs/tips-extensions" data-outer="Tips">DapperDox extensions</a></li>
       </ul>
   </li>
   -->
   <li class="panel">
       <a id="toggleGlossary" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulGlossary">Glossary</a>
       <ul class="nav collapse nav-inner" id="ulGlossary">
           <li><a href="/docs/glossary-terms" data-outer="Glossary">Terms used by DapperDox</a></li>
       </ul>
   </li>
</ul>
