<ul class="nav nav-sidebar hide" id="navigation" data-open="">
   <li class="panel">
       <a id="toggleIntro" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulIntro">Introduction</a>
       <ul class="nav nav-inner collapse" id="ulIntro">
           <li><a href="/docs/overview.html" data-outer="Intro">Overview</a></li>
           <li><a href="/docs/getting-started.html" data-outer="Intro">Getting started</a></li>
           <li><a href="/docs/rewrite-urls.html" data-outer="Intro">Rewriting URLs</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleLoadSpec" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulLoadSpec">Loading sepcifications</a>
       <ul class="nav collapse nav-inner" id="ulLoadSpec">
           <li><a href="/docs/spec-single.html" data-outer="LoadSpec">Single specification</a></li>
           <li><a href="/docs/spec-multiple.html" data-outer="LoadSpec">Multiple specifications</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleAuthor" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulAuthor">Authoring content</a>
       <ul class="nav collapse nav-inner" id="ulAuthor">
           <li><a href="/docs/author-concepts.html" data-outer="Author">Concepts</a></li>
           <li><a href="/docs/author-guides.html" data-outer="Author">Writing guides</a></li>
           <li><a href="/docs/author-overlays.html" data-outer="Author">Content overlays</a></li>
           <li><a href="/docs/author-metadata.html" data-outer="Author">Metadata</a></li>
           <li><a href="/docs/author-method-names.html" data-outer="Author">Controlling method names</a></li>
           <li><a href="/docs/author-landing-pages.html" data-outer="Author">Landing pages</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleExplorer" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulExplorer">The API explorer</a>
       <ul class="nav collapse nav-inner" id="ulExplorer">
           <li><a href="/docs/explorer-concepts.html" data-outer="Explorer">Concepts</a></li>
           <li><a href="/docs/explorer-authentication.html" data-outer="Explorer">Authentication</a></li>
           <li><a href="/docs/explorer-methods.html" data-outer="Explorer">Explorer methods</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleVersioning" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulVersioning">API Versioning</a>
       <ul class="nav collapse nav-inner" id="ulVersioning">
           <li><a href="/docs/versioning-concept.html" data-outer="Versioning">Concepts</a></li>
           <li><a href="/docs/versioning-configuration.html" data-outer="Versioning">Configuration</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleProxy" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulProxy">Reverse proxy</a>
       <ul class="nav collapse nav-inner" id="ulProxy">
           <li><a href="/docs/proxy-concept.html" data-outer="Proxy">Concepts</a></li>
           <li><a href="/docs/proxy-configure.html" data-outer="Proxy">Configuration</a></li>
           <li><a href="/docs/proxy-integration.html" data-outer="Proxy">Integration</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleThemes" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulThemes">Themes</a>
       <ul class="nav collapse nav-inner" id="ulThemes">
           <li><a href="/docs/theme-get.html" data-outer="Themes">Get a theme</a></li>
           <li><a href="/docs/theme-creating.html" data-outer="Themes">Creating a theme</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleConfiguration" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulConfiguration">Configuration</a>
       <ul class="nav collapse nav-inner" id="ulConfiguration">
           <li><a href="/docs/configuration-guide.html" data-outer="Configuration">Configuration guide</a></li>
       </ul>
   </li>
   <li class="panel">
       <a id="toggleTips" class="nav-toggle collapsed" data-parent="#navigation" data-toggle="collapse" data-target="#ulTips">Tips</a>
       <ul class="nav collapse nav-inner" id="ulTips">
           <li><a href="/docs/tips-naming.html" data-outer="Tips">Naming conventions</a></li>
           <li><a href="/docs/tips-extensions.html" data-outer="Tips">Swaggerly extensions</a></li>
       </ul>
   </li>
</ul>
