<div id="explorer">
    <hr/>
    <h2 class="sub-header">Explore this API</h2>

    <form id="apiexplorer">
      <div class="table-responsive">
        <table class="table table-striped">
        [: range .Method.PathParams :]
            <tr class="form-group" id="[: .Name :]-group">
                <td>[: .Name :]</td>
                <td>[: template "explorer_input" (map "Param" . "Section" "path") :]</td>
                <td>[: safehtml .Description :]</td>
            <tr>
        [: end :]
        [: range .Method.QueryParams :]
            <tr class="form-group">
                <td>[: .Name :]</td>
                <td>[: template "explorer_input" (map "Param" . "Section" "query") :]</td>
                <td>[: safehtml .Description :]</td>
            </tr>
        [: end :]
[: if .Method.BodyParam :]
<!-- THIS IS TODO -->
        [: range .Method.BodyParam :]
            <tr class="form-group">
                <td>[: .Name :]</td>
                <td>[: template "explorer_input" (map "Param" . "Section" "body") :]</td>
                <td>[: safehtml .Description :]</td>
            </tr>
        [: end :]
[: end :]
        [: range .Method.FormParams :]
            <tr class="form-group">
                <td>[: .Name :]</td>
                <td>[: template "explorer_input" (map "Param" . "Section" "form") :]</td>
                <td>[: safehtml .Description :]</td>
            </tr>
        [: end :]
        [: range .Method.HeaderParams :]
            <tr class="form-group">
                <td>[: .Name :]</td>
                <td>[: template "explorer_input" (map "Param" . "Section" "header") :]</td>
                <td>[: safehtml .Description :]</td>
            </tr>
        [: end :]
        <!-- Some request bodies are blocks of JSON or XML. This is different to a body parameter
             which is single string. TODO
        [  : range .Method.Method. :]
            <tr class="form-group">
                <td>Request Body</td>
                <td colspan="2"><textarea data-type="model" name="<: $param.name :>"
                : if $param.required {
                    placeholder="Required" required="required"
                : }
                ></textarea></td>
            </tr>
        [  : end :]
        -->
        </table>
      </div>

        [: if .Method.Security :]
          <h3 class="sub-sub-header">Choose one authorisation method to use:</h3>
      <div class="table-responsive">
        <table class="table table-striped">
            [: range $name, $security := .Method.Security :]
              [: if $security.Scheme.IsApiKey :]
                <tr class="form-group">
                    <td>API key</td>
                    <td>
                       <select style="font-size: 16px" id="api-key-select" class="form-control api-key-select">
                           <option value="">None</option>
                       </select>
                       <input id="api-key-input" type="text" name="api-key" value="" placeholder="API key" class="form-control"/>
                    </td>
                    <td>API key to be used for request</td>
                </tr>
              [: end :]
              [: if $security.Scheme.IsOAuth2 :]
                <tr class="form-group"><td id="api-key-block">Access Token</td>
                    <td><input id="access-token-input" type="text" data-type="" name="access_token" value="" placeholder="access token" class="form-control"/></td>
                    <td>Access token to be used for request</td>
                </tr>
              [: end :]
              [: if $security.Scheme.IsBasic :][: end :]
            [: end :]
          </p>
        [: end :]
        </table>
     </div>
        <a href="#here" name="here" id="exploreButton" class="btn btn-success">Try it out!</a>
    </form>

    <img id="progress" src="data:images/png;base64,R0lGODlhKwALAPEAAP///0lJSaWlpUlJSSH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAKwALAAACMoSOCMuW2diD88UKG95W88uF4DaGWFmhZid93pq+pwxnLUnXh8ou+sSz+T64oCAyTBUAACH5BAAKAAEALAAAAAArAAsAAAI9xI4IyyAPYWOxmoTHrHzzmGHe94xkmJifyqFKQ0pwLLgHa82xrekkDrIBZRQab1jyfY7KTtPimixiUsevAAAh+QQACgACACwAAAAAKwALAAACPYSOCMswD2FjqZpqW9xv4g8KE7d54XmMpNSgqLoOpgvC60xjNonnyc7p+VKamKw1zDCMR8rp8pksYlKorgAAIfkEAAoAAwAsAAAAACsACwAAAkCEjgjLltnYmJS6Bxt+sfq5ZUyoNJ9HHlEqdCfFrqn7DrE2m7Wdj/2y45FkQ13t5itKdshFExC8YCLOEBX6AhQAADsAAAAAAAAAAAA=" style="display: none; margin-left: 20px;" />

    <div id="showdata"></div>

    <div id="results" style="display: none;">
        <h3 class="sub-heading">Request</h3>
        <pre><code id="request_url" class="language-http"></code><code id="request_body" class="json" style="padding: 20px 0 0 0; display: none;"></code></pre>

        <div id="response">
            <h3 class="sub-heading">Response status</h3>
            <pre><code id="response_code"></code></pre>

            <h3 class="sub-heading">Response body</h3>
            <iframe id="html_block" style="display: none; width:100%; height: 300px"></iframe>
            <pre    id="body_block" style="display: none;"><code id="response_body"></code></pre>

            <h3 class="sub-heading">Response headers</h3>
            <pre><code id="response_headers" class="http"></code></pre>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        apiExplorer.injectApiKeysIntoPage();
        $(document).on('click', '#exploreButton', function() {
            var url   = '[: .API.URL :][: .Method.Path :]';
            var method= '[: .Method.Method :]';
            apiExplorer.go( method, url );
        });
    });
</script>
