<div id="explorer">
    <hr/>
    <h2 class="sub-header">Explore this API</h2>
    <script src='/js/jquery-1.8.0.min.js'  type='text/javascript'></script>
    <script src='/js/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src="/js/explorer.js"          type="text/javascript"></script>
<!--
    <link  href="/style/highlight/xcode.css"   type="text/css" media="screen" rel="stylesheet">
-->

    <form id="apiexplorer">
      <div class="table-responsive">
        <table class="table table-striped">
        [: range .Method.PathParams :]
            <tr>
                <td>[: .Name :]</td>
                <td>
                    [: template "explorer_input" (map "Param" . "Section" "path") :]
                </td>
                <td>[: .Description :]</td>
            <tr>
        [: end :]
        [: range .Method.QueryParams :]
            <tr>
                <td>[: .Name :]</td>
                <td>
                    [: template "explorer_input" (map "Param" . "Section" "query") :]
                </td>
                <td>[: .Description :]</td>
            </tr>
        [: end :]
[: if .Method.BodyParam :]
<!-- THIS IS TODO -->
        [: range .Method.BodyParam :]
            <tr>
                <td>[: .Name :]</td>
                <td>
                    [: template "explorer_input" (map "Param" . "Section" "body") :]
                </td>
                <td>[: .Description :]</td>
            </tr>
        [: end :]
[: end :]
        [: range .Method.FormParams :]
            <tr>
                <td>[: .Name :]</td>
                <td>
                    [: template "explorer_input" (map "Param" . "Section" "form") :]
                </td>
                <td>[: .Description :]</td>
            </tr>
        [: end :]
        [: range .Method.HeaderParams :]
            <tr>
                <td>[: .Name :]</td>
                <td>
                    [: template "explorer_input" (map "Param" . "Section" "header") :]
                </td>
                <td>[: .Description :]</td>
            </tr>
        [: end :]
        <!-- Some request bodies are blocks of JSON or XML. This is different to a body parameter
             which is single string. TODO
        [  : range .Method.Method. :]
            <tr>
                <td>Request Body</td>
                <td colspan="2"><textarea data-type="model" name="<: $param.name :>"
                : if $param.required {
                    placeholder="Required" required="required"
                : }
                ></textarea></td>
            </tr>
        [  : end :]
        -->
        </table>
      </div>

            [: if not .User :]
            <span>
                <p>To explore this api, you must be <a href="/signin">signed in</a> and have registered for at least one API key. Registration takes a few seconds, and allows you to explore the API from right here in the web page!</p>
                </p>You can create an API key through <a href="/applications">Your Applications</a> page.</p>
            </span>
            [: else :]
            <span>
                <p>Authorise with API Key: <label for="api-key-select">
                        <select style="font-size: 16px" id="api-key-select" class="api-key-select">
                            [: range $name, $key := .APIkeys :]<option value="[: $key :]">[: $name :]</option>[: end :]
                            <option value="">None</option>
                        </select>
                    </label>
                </p>
                <a href="#here" name="here" id="exploreButton" class="button">Try it out!</a>
            </span>
        [: end :]
<!--
        [: if .Method.Security :]
                <p>Authorise with:
            [: range $name, $security := .Method.Security :]
                [: if $security.Scheme.IsApiKey :]
                    <br /><label for="api-key-input">API key</label>
                    <input id="api-key-input" type="text" data-type="" name="apikey" value="" placeholder="API key" />
                [: end :]
                [: if $security.Scheme.IsOAuth2 :]
                    <br /><label for="access-token-input">access token</label>
                    <input id="access-token-input" type="text" data-type="" name="access_token" value="" placeholder="access token" />
                [: end :]
                [: if $security.Scheme.IsBasic :][: end :]
                </p>
            [: end :]
            <a href="#here" name="here" id="exploreButton" class="button">Try it out!</a>
        [: end :]
-->
    </form>
    <img id="progress" src="/style/ajax-loader.gif" style="display: none; margin-left: 20px;" />

    <div id="showdata"></div>

    <div id="results" style="display: none;">
        <h3 class="sub-heading">Request</h3>
        <pre><code id="request_url" class="language-http"></code><code id="request_body" class="json" style="padding: 20px 0 0 0; display: none;"></code></pre>

        <div id="response">
            <h3 class="sub-heading">Response status</h3>
            <pre><code id="response_code"></code></pre>

            <h3 class="sub-heading">Response body</h3>
            <iframe id="html_block" style="display: none; width:100%; height: 300px"></iframe>
            <pre    id="body_block" style="display: none;"><code id="response_body"></code></pre>

            <h3 class="sub-heading">Response headers</h3>
            <pre><code id="response_headers" class="http"></code></pre>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click', '#exploreButton', function() {
            var url   = '[: .API.URL :][: .Method.Path :]';
            var method= '[: .Method.Method :]';
            exploreapi( method, url )
        });
    });
</script>
