  <div class="row">
    <div class="1 col-lg-1 hidden-xs hidden-sm hidden-md" style="width: 32px;"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" id="header">
      <div class="navbar-header">
        [: template "fragments/header_bar_title" . :]
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        [: template "fragments/header_bar_right" . :]
      </div>
    </div>
    <div class="col-lg-1 hidden-xs hidden-sm hidden-md" style="width: 32px;"></div>
  </div> <!-- /row -->