<div class="side-nav affix main"> <!-- sidebar -->
<script type="text/javascript">
   document.getElementById("hiddenMargin").remove(this);
</script>
    <div id="business-nav" onclick="showBusiness();">
        <div id="business-scroll" class="scroll"></div>
        <a class="nav-title main">
            <img src="https://s3.amazonaws.com/wixplorer-readme-images/business-logo.svg" class="api-logo" id="business-logo" />
        Business API </a>
    </div>
    <div id="core-nav" onclick="showCore();">
        <div id="core-scroll" class="scroll"></div>
        <a class="nav-title main">
            <img src="https://s3.amazonaws.com/wixplorer-readme-images/core-logo-black.svg" class="api-logo" id="core-logo" />
        Core API </a>
    </div>
    <div id="client-nav" onclick="showClientFrameworks();">
        <div id="client-scroll" class="scroll"></div>
        <a class="nav-title main">
            <img src="https://s3.amazonaws.com/wixplorer-readme-images/editor-logo-black.svg" class="api-logo" id="client-logo" />
        Client Frameworks </a>
    </div>
    <div class="rpcApiSearch">
        <hr class="dividerMenu">
        <div class="rpcApiSearchLink" onclick="rpcApiSearch();">RPC API Search
            <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-black.svg" class="Icon rpcSearch" />
        </div>
    </div>
</div>

<script>
function showBusiness() {
    document.getElementById("businessApi").style.display = "block";
    document.getElementById("coreApi").style.display = "none";
    document.getElementById("clientApi").style.display = "none";

    document.getElementById("inProgressBusiness").style.display = "block";
    document.getElementById("inProgressCore").style.display = "none";
    document.getElementById("inProgressClient").style.display = "none";

    document.getElementById("business-nav").style.color = "rgb(115,60,166)";
    document.getElementById("core-nav").style.color = "inherit";
    document.getElementById("client-nav").style.color = "inherit";

    document.getElementById("business-scroll").style.backgroundColor = "rgb(115,60,166)";
    document.getElementById("core-scroll").style.backgroundColor = "inherit";
    document.getElementById("client-scroll").style.backgroundColor = "inherit";

    document.getElementById("business-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/business-logo.svg";
    document.getElementById("core-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/core-logo-black.svg";
    document.getElementById("client-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/editor-logo-black.svg";

    document.getElementById("showComingSoon").innerHTML = "Coming Soon Business API";
}

function showCore() {
    document.getElementById("coreApi").style.display = "block";
    document.getElementById("businessApi").style.display = "none";
    document.getElementById("clientApi").style.display = "none";

    document.getElementById("inProgressCore").style.display = "block";
    document.getElementById("inProgressBusiness").style.display = "none";
    document.getElementById("inProgressClient").style.display = "none";

    document.getElementById("core-nav").style.color = "rgb(69,150,224)";
    document.getElementById("business-nav").style.color = "inherit";
    document.getElementById("client-nav").style.color = "inherit";

    document.getElementById("core-scroll").style.backgroundColor = "rgb(69,150,224)";
    document.getElementById("business-scroll").style.backgroundColor = "inherit";
    document.getElementById("client-scroll").style.backgroundColor = "inherit";

    document.getElementById("core-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/core-logo.svg";
    document.getElementById("business-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/business-logo-black.svg";
    document.getElementById("client-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/editor-logo-black.svg";

    document.getElementById("showComingSoon").innerHTML = "Coming Soon Core API";
    localStorage.removeItem('coreApiNav');
}

function showClientFrameworks() {
    document.getElementById("clientApi").style.display = "block";
    document.getElementById("coreApi").style.display = "none";
    document.getElementById("businessApi").style.display = "none";

    document.getElementById("inProgressClient").style.display = "block";
    document.getElementById("inProgressCore").style.display = "none";
    document.getElementById("inProgressBusiness").style.display = "none";

    document.getElementById("client-nav").style.color = "rgb(177,61,172)";
    document.getElementById("core-nav").style.color = "inherit";
    document.getElementById("business-nav").style.color = "inherit";

    document.getElementById("client-scroll").style.backgroundColor = "rgb(177,61,172)";
    document.getElementById("core-scroll").style.backgroundColor = "inherit";
    document.getElementById("business-scroll").style.backgroundColor = "inherit";

    document.getElementById("client-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/editor-logo.svg";
    document.getElementById("business-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/business-logo-black.svg";
    document.getElementById("core-logo").src="https://s3.amazonaws.com/wixplorer-readme-images/core-logo-black.svg";

    document.getElementById("showComingSoon").innerHTML = "Coming Soon Frameworks";
    localStorage.removeItem('clientApiNav');
}

function showHiddenIfNeeded() {
    var url_string = window.location.href;
    var url = new URL(url_string);
    var showHidden = url.searchParams.get("showHidden");

    if (showHidden === 'true' || sessionStorage.getItem('showHidden') === 'true') {
        sessionStorage.setItem('showHidden', 'true');
        var allHiddenApi = document.getElementsByClassName('hiddenApi');
        for (var i = 0; i < allHiddenApi.length; i++) {
          allHiddenApi[i].style.display = 'block';
          var rectangle = allHiddenApi[i].getElementsByClassName("rectangle")[0];
          rectangle.style.backgroundColor = "lightgray";
          var title = rectangle.getElementsByClassName("apiTitle")[0];
          title.innerHTML = title.innerHTML + " - (HIDDEN)"
        }
    }
}

function showUnapprovedIfNeeded() {
    var url_string = window.location.href;
    var url = new URL(url_string);
    var showUnapproved = url.searchParams.get("showUnapproved");

    if (showUnapproved === 'true' || sessionStorage.getItem('showUnapproved') === 'true') {
        sessionStorage.setItem('showUnapproved', 'true');
        var allUnapprovedApi = document.getElementsByClassName('unapproved');
        for (var i = 0; i < allUnapprovedApi.length; i++) {
          allUnapprovedApi[i].style.display = 'block';
          var rectangle = allUnapprovedApi[i].getElementsByClassName("rectangle")[0];
          rectangle.classList.add("unapprovedRectangle");
          var title = rectangle.getElementsByClassName("apiTitle")[0];
          title.innerHTML = title.innerHTML + " - (UNAPPROVED)"
        }

        var allUnApproveButton = document.getElementsByClassName('unApproveButton');
        for (var i = 0; i < allUnApproveButton.length; i++) {
            allUnApproveButton[i].style.display = 'initial';
        }
    }
}

function showSelectedApi() {
    if(localStorage.getItem('coreApiNav') === 'clicked') {
        showCore();
    } else if (localStorage.getItem('clientApiNav') === 'clicked') {
        showClientFrameworks();
    } else {
        showBusiness();
    }

    showHiddenIfNeeded();
    showUnapprovedIfNeeded();
}

function rpcApiSearch() {
    var rpcSearchUrl = "https://pbo.wixpress.com/wix-api-explorer";
    window.open(rpcSearchUrl, '_blank');
}

window.onload = showSelectedApi;
</script>