<script src='/js/navigation.js'   type='text/javascript'></script>

<div class="side-nav affix"> <!-- sidebar -->
    <ul class="nav nav-sidebar hide" id="navigation">
        [: if .NavigationGuides :]
          [: if .APIs :] 
            <!-- <li class="heading heading-top">Guides</li> -->
          [: end :] 
          [: template "fragments/sidenav_guides" . :]
          [: if .APIs :] 
            <!-- <li class="heading">Reference</li> -->
          [: end :] 
        [: end :]
        [: template "fragments/sidenav_reference" . :]
        [: template "fragments/sidenav_specification" . :]
    </ul>
</div>
