<script>
function showHide() {
    if (document.getElementById("inProgress").style.display === "none") {
        document.getElementById("inProgress").style.display = "block";
        document.getElementById("comingSoonIcon").style.transform = "inherit";
    } else {
        document.getElementById("inProgress").style.display = "none";
        document.getElementById("comingSoonIcon").style.transform = "rotate(270deg)";
    }
}

function navigateToApi(apiUrl) {
       window.location.href = apiUrl;
}

function showExplore(id) {
    document.getElementById(id).style.display = "block";
}

function hideExplore(id) {
    document.getElementById(id).style.display = "none";
}

function approveProject(projectName, isApproved) {
    var httpRequest = new XMLHttpRequest();
    var url = "https://my.wix.com/wixplorer-server-web/api/wixplorer/approveProject?projectName=" +projectName + "&isApproved=" + isApproved;
    httpRequest.open("POST", url, true);
    httpRequest.send();
}

</script>

[: overlay "banner" . :]

[: overlay "description" . :]

[: $businessCounter := counter_set -1 :]

<div class="apiCategory" id="businessApi">
    [: range $businessId, $businessSpec := .APISuite :]
        [: if (eq $businessSpec.Status "production") :]
            [: if (eq $businessSpec.Category "business-service") :]
                [: if (eq $businessSpec.Visible false) :]
                    [: if (eq $businessSpec.Approved false) :]
                        <div class="row hiddenApi unapproved">
                    [: else :]
                        <div class="row hiddenApi">
                    [: end :]
                [: else :]
                    [: if (eq $businessSpec.Approved true) :]
                        <div class="row">
                    [: else :]
                        <div class="row unapproved">
                    [: end :]
                [: end :]
                  <div class="col-sm-6 col-md-6 col-lg-6 rectangle" onclick="navigateToApi('/[: $businessSpec.ID :]/guides');"
                  onmouseover="showExplore('explore.[: $businessSpec.ID :]')" onmouseout="hideExplore('explore.[: $businessSpec.ID :]')">
                    <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
                      <div class="circle business"></div>
                    </div>
                    <div style="margin-left: 70px; margin-top: 15px;">
                       <div id="explore.[: $businessSpec.ID :]" class="explore business">Explore
                        <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-business.svg" class="Icon rectangle" />
                       </div>
                       <h3 class="bottommargin">
                         <a class="apiTitle">[:$businessSpec.APIInfo.Title:]</a>
                       </h3>
                       [: safehtml $businessSpec.APIInfo.Description :]
                    </div>
                  </div>
                  [: if (eq $businessSpec.Approved false) :]
                    <button class="approveButton" onclick="approveProject('[: $businessSpec.ID :]',true)">Approve API</button>
                  [: else :]
                    <button class="unApproveButton" onclick="approveProject('[: $businessSpec.ID :]',false)">Disapprove API</button>
                  [: end :]
                </div>
            [: end :]
        [: end :]
    [: end :]
</div>

[: $coreCounter := counter_set -1 :]

<div class="apiCategory" id="coreApi">
    [: range $coreId, $coreSpec := .APISuite :]
        [: if (eq $coreSpec.Status "production") :]
            [: if (eq $coreSpec.Category "core") :]
                [: if (eq $coreSpec.Visible false) :]
                    [: if (eq $coreSpec.Approved false) :]
                        <div class="row hiddenApi unapproved">
                    [: else :]
                        <div class="row hiddenApi">
                    [: end :]
                [: else :]
                    [: if (eq $coreSpec.Approved true) :]
                        <div class="row">
                    [: else :]
                        <div class="row unapproved">
                    [: end :]
                [: end :]
                  <div class="col-sm-6 col-md-6 col-lg-6 rectangle" onclick="navigateToApi('/[: $coreSpec.ID :]/guides');"
                  onmouseover="showExplore('explore.[: $coreSpec.ID :]')" onmouseout="hideExplore('explore.[: $coreSpec.ID :]')">
                    <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
                      <div class="circle core"></div>
                    </div></a>
                    <div style="margin-left: 70px; margin-top: 15px;">
                       <div id="explore.[: $coreSpec.ID :]" class="explore core">Explore
                        <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-core.svg" class="Icon rectangle" />
                       </div>
                       <h3 class="bottommargin">
                         <a class="apiTitle">[:$coreSpec.APIInfo.Title:]</a>
                       </h3>
                       [: safehtml $coreSpec.APIInfo.Description :]
                    </div>
                  </div>
                  [: if (eq $coreSpec.Approved false) :]
                    <button class="approveButton" onclick="approveProject('[: $coreSpec.ID :]',true)">Approve API</button>
                  [: else :]
                    <button class="unApproveButton" onclick="approveProject('[: $coreSpec.ID :]',false)">Disapprove API</button>
                  [: end :]
                </div>
            [: end :]
        [: end :]
    [: end :]
</div>

[: $clientCounter := counter_set -1 :]

<div class="apiCategory" id="clientApi">
    [: range $clientId, $clientSpec := .APISuite :]
        [: if (eq $clientSpec.Status "production") :]
            [: if (eq $clientSpec.Category "client-frameworks") :]
                [: if (eq $clientSpec.Visible false) :]
                    [: if (eq $clientSpec.Approved false) :]
                        <div class="row hiddenApi unapproved">
                    [: else :]
                        <div class="row hiddenApi">
                    [: end :]
                [: else :]
                    [: if (eq $clientSpec.Approved true) :]
                        <div class="row">
                    [: else :]
                        <div class="row unapproved">
                    [: end :]
                [: end :]
                  <div class="col-sm-6 col-md-6 col-lg-6 rectangle" onclick="navigateToApi('/[: $clientSpec.ID :]/guides');"
                  onmouseover="showExplore('explore.[: $clientSpec.ID :]')" onmouseout="hideExplore('explore.[: $clientSpec.ID :]')">
                    <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
                      <div class="circle client"></div>
                    </div></a>
                    <div style="margin-left: 70px; margin-top: 15px;">
                       <div id="explore.[: $clientSpec.ID :]" class="explore client">Explore
                        <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-core.svg" class="Icon rectangle" />
                       </div>
                       <h3 class="bottommargin">
                         <a class="apiTitle">[:$clientSpec.APIInfo.Title:]</a>
                       </h3>
                       [: safehtml $clientSpec.APIInfo.Description :]
                    </div>
                  </div>
                  [: if (eq $clientSpec.Approved false) :]
                    <button class="approveButton" onclick="approveProject('[: $clientSpec.ID :]',true)">Approve API</button>
                  [: else :]
                    <button class="unApproveButton" onclick="approveProject('[: $clientSpec.ID :]',false)">Disapprove API</button>
                  [: end :]
                </div>
            [: end :]
        [: end :]
    [: end :]
</div>

<div class="apiCategory wixplorer" id="exploreApi">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 rectangle wixplorer">
        <div class="rectangleBorder">
            <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
            </div></a>
            <div style="margin-left: 70px; margin-top: 15px;">
               <h3 class="bottommargin">
                 <div class="apiTitle">Want to add your API to WixPlorer?</div>
               </h3>
               Follow <a href="https://github.com/wix-private/p13n/tree/master/wixplorer#wixplorer" target="_blank">these instructions</a> or contact
                <a href="mailto:platforms@wix.com">platforms@wix.com</a> or
                <a href="https://wix.slack.com/messages/platformization" target="_blank">#platformization</a> for help
            </div>
        </div>
      </div>
    </div>
</div>

<div class="soonDivider">
    <div class="dividerContainer">
        <hr class="divider">
        <div id="showComingSoon" onclick="showHide();">Coming Soon Business API</div>
        <img id="comingSoonIcon" src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-black.svg" class="Icon black" onclick="showHide();" />
        <hr class="divider right">
    </div>
</div>

[: $comingSoonCounter := counter_set -1 :]

<div class="apiCategory soon" id="inProgress">
    <div id="inProgressBusiness">
        [: range $soonBusinessId, $soonBusinessSpec := .APISuite :]
            [: if (eq $soonBusinessSpec.Status "dev") :]
                [: if (eq $soonBusinessSpec.Category "business-service") :]
                    [: if (eq $soonBusinessSpec.Visible false) :]
                        [: if (eq $soonBusinessSpec.Approved false) :]
                            <div class="row hiddenApi unapproved">
                        [: else :]
                            <div class="row hiddenApi">
                        [: end :]
                    [: else :]
                        [: if (eq $soonBusinessSpec.Approved true) :]
                            <div class="row">
                        [: else :]
                            <div class="row unapproved">
                        [: end :]
                    [: end :]
                      <div class="col-sm-6 col-md-6 col-lg-6 rectangle" onclick="navigateToApi('/[: $soonBusinessSpec.ID :]/guides');"
                      onmouseover="showExplore('explore.[: $soonBusinessSpec.ID :]')" onmouseout="hideExplore('explore.[: $soonBusinessSpec.ID :]')">
                        <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
                          <div class="circle business soon"></div>
                        </div></a>
                        <div style="margin-left: 70px; margin-top: 15px;">
                           <div id="explore.[: $soonBusinessSpec.ID :]" class="explore soon">Explore
                            <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-black.svg" class="Icon rectangle" />
                           </div>
                           <h3 class="bottommargin">
                             <a class="apiTitle">[:$soonBusinessSpec.APIInfo.Title:]</a>
                           </h3>
                           [: safehtml $soonBusinessSpec.APIInfo.Description :]
                        </div>
                      </div>
                      [: if (eq $soonBusinessSpec.Approved false) :]
                        <button class="approveButton" onclick="approveProject('[: $soonBusinessSpec.ID :]',true)">Approve API</button>
                      [: else :]
                        <button class="unApproveButton" onclick="approveProject('[: $soonBusinessSpec.ID :]',false)">Disapprove API</button>
                      [: end :]
                    </div>
                [: end :]
            [: end :]
        [: end :]
    </div>
    <div id="inProgressCore">
        [: range $soonCoreId, $soonCoreSpec := .APISuite :]
            [: if (eq $soonCoreSpec.Status "dev") :]
                [: if (eq $soonCoreSpec.Category "core") :]
                    [: if (eq $soonCoreSpec.Visible false) :]
                        [: if (eq $soonCoreSpec.Approved false) :]
                            <div class="row hiddenApi unapproved">
                        [: else :]
                            <div class="row hiddenApi">
                        [: end :]
                    [: else :]
                        [: if (eq $soonCoreSpec.Approved true) :]
                            <div class="row">
                        [: else :]
                            <div class="row unapproved">
                        [: end :]
                    [: end :]
                      <div class="col-sm-6 col-md-6 col-lg-6 rectangle" onclick="navigateToApi('/[: $soonCoreSpec.ID :]/guides');"
                      onmouseover="showExplore('explore.[: $soonCoreSpec.ID :]')" onmouseout="hideExplore('explore.[: $soonCoreSpec.ID :]')">
                        <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
                          <div class="circle core soon"></div>
                        </div></a>
                        <div style="margin-left: 70px; margin-top: 15px;">
                           <div id="explore.[: $soonCoreSpec.ID :]" class="explore soon">Explore
                            <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-black.svg" class="Icon rectangle" />
                           </div>
                           <h3 class="bottommargin">
                             <a class="apiTitle">[:$soonCoreSpec.APIInfo.Title:]</a>
                           </h3>
                           [: safehtml $soonCoreSpec.APIInfo.Description :]
                        </div>
                      </div>
                      [: if (eq $soonCoreSpec.Approved false) :]
                        <button class="approveButton" onclick="approveProject('[: $soonCoreSpec.ID :]',true)">Approve API</button>
                      [: else :]
                        <button class="unApproveButton" onclick="approveProject('[: $soonCoreSpec.ID :]',false)">Disapprove API</button>
                      [: end :]
                    </div>
                [: end :]
            [: end :]
        [: end :]
    </div>
    <div id="inProgressClient">
        [: range $soonClientId, $soonClientSpec := .APISuite :]
            [: if (eq $soonClientSpec.Status "dev") :]
                [: if (eq $soonClientSpec.Category "client-frameworks") :]
                    [: if (eq $soonClientSpec.Visible false) :]
                        [: if (eq $soonClientSpec.Approved false) :]
                            <div class="row hiddenApi unapproved">
                        [: else :]
                            <div class="row hiddenApi">
                        [: end :]
                    [: else :]
                        [: if (eq $soonClientSpec.Approved true) :]
                            <div class="row">
                        [: else :]
                            <div class="row unapproved">
                        [: end :]
                    [: end :]
                      <div class="col-sm-6 col-md-6 col-lg-6 rectangle" onclick="navigateToApi('/[: $soonClientSpec.ID :]/guides');"
                      onmouseover="showExplore('explore.[: $soonClientSpec.ID :]')" onmouseout="hideExplore('explore.[: $soonClientSpec.ID :]')">
                        <div class="fa-stack fa-lg my-fa-icon-group pull-left" style="font-size: 28px; margin-top: 27px; margin-left: 10px;">
                          <div class="circle client soon"></div>
                        </div></a>
                        <div style="margin-left: 70px; margin-top: 15px;">
                           <div id="explore.[: $soonClientSpec.ID :]" class="explore soon">Explore
                            <img src="https://s3.amazonaws.com/wixplorer-readme-images/arrow-black.svg" class="Icon rectangle" />
                           </div>
                           <h3 class="bottommargin">
                             <a class="apiTitle">[:$soonClientSpec.APIInfo.Title:]</a>
                           </h3>
                           [: safehtml $soonClientSpec.APIInfo.Description :]
                        </div>
                      </div>
                      [: if (eq $soonClientSpec.Approved false) :]
                        <button class="approveButton" onclick="approveProject('[: $soonClientSpec.ID :]',true)">Approve API</button>
                      [: else :]
                        <button class="unApproveButton" onclick="approveProject('[: $soonClientSpec.ID :]',false)">Disapprove API</button>
                      [: end :]
                    </div>
                [: end :]
            [: end :]
        [: end :]
    </div>
</div>
[: overlay "additional" . :]

