<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/guides/markdown">A Markdown guide</a></li>
        [: range $api := .APIs :]
          <li>
              <a href="/docs/[: $api.ID :]" class="nav-toggle" data-toggle="collapse" data-target="#sub[: $api.ID :]">[: $api.Name :]</a> <!-- Add collapsed to make the open.close icon correct direction -->
              <ul class="nav" id="sub[: $api.ID :]"> <!-- add collapse to, erm, collapse! WIP! -->
                  [: range $method := .Methods :]
                  <li><a href="/docs/[: $api.ID :]/[: $method.ID :]">[: $method.Method :]</a></li>
                  [: end :]
              </ul>
          </li>
        [: end :]
    </ul>
</div>
