<h2 class="heading-medium">Welcome to the API documentation</h2>

<!-- List all API endpoints -->
[: range .APIs :]
    <h3 class="heading-medium">[: .Name :]</h3>
    [: template "fragments/docs/api-body" (map "API" . "Methods" .Methods) :]
[: end :]

