<!-- List all API endpoints for specification -->
[: range $api := .APIs :]
    <h3 class="heading-medium">[: .Name :]</h3>
    [: template "fragments/reference/api-body" (map "SpecPath" $.SpecPath "API" . "Methods" .Methods) :]
[: end :]
