<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Parameter&nbsp;name</th>
      <th>Value</th>
      <th>Description</th>
      <th>Additional</th>
    </tr>
  </thead>
  <tbody>
  [: range . :]
    <tr>
      <td class="resource">[: .Name :]</td>
      <td class="type">[: .Type :]</td>
      <td class="hyphenate Hyphenator384hide">[: .Description :]</td>
      <td class="hyphenate Hyphenator384hide">[: if .Required :]Required[: end :]</td>
    </tr>
  [: end :]
  </tbody>
</table>
</div>
