<nav>
    <p class="heading-medium"><a href="/">API Documentation</a></p>

    <ol class="small-text" style="margin-top: 1em;">
        [: range $api := .APIs :]
          <li class="service">
              <a class="service_link" href="/docs/[: $api.ID :]">[: $api.Name :]</a>

              <ul class="list-bullet items">
                  [: range $method := .Methods :]
                  <li class="method">
                      <a class="sub_link" href="/docs/[: $api.ID :]/[: $method.ID :]">[: $method.Name :]</a>
                      <li class="content-divider">
                          Resources
                          <ul class="list-bullet">
                              [: range $resource := $method.Resources :]
                              <li>
                                  <a class="sub_link" href="/docs/[: $api.ID :]/[: $method.ID :]/[: $resource.ID :]">[: $resource.Title :]</a>
                              </li>
                              [: end :]
                          </ul>
                      </li>
                      <li class="content-divider">
                          Swagger
                          <ul class="list-bullet">
                              <li>
                                  <a class="sub_link" href="/specs/">Complete me</a>
                              </li>
                          </ul>
                      </li>
                  </li>
                  [: end :]
              </ul>
          </li>
        [: end :]
    </ol>
</nav>
