{
    "swagger": "2.0",
    "info": {
        "title": "Uber API",
        "description": "Move your app forward with the Uber API",
        "version": "1.0.0"
    },
    "host": "api.uber.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/history": {
            "get": {
                "summary": "User Activity",
                "description": "The User Activity endpoint returns data about a user's lifetime activity with Uber. The response will include pickup locations and times, dropoff locations and times, the distance of past requests, and information about which products were requested.<br><br>The history array in the response will have a maximum length based on the limit parameter. The response value count may exceed limit, therefore subsequent API requests may be necessary.",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Offset the list of returned results by this amount. Default is zero."
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of items to retrieve. Default is 5, maximum is 100."
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/Activities"
                        }
                    },
                    "201": {
                        "description": "History information for the given user",
                        "schema": {
                            "$ref": "#/definitions/ArrayOfObject"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Activities": {
            "title": "Activities resource",
            "properties": {
                "dave_outer": {
                    "type": "array",
                    "description" : "Array of strings",
                    "items" : {
                      "$ref": "#/definitions/temp"
                    }
                }
            }
        },
        "temp" : {
          "title" : "test",
          "properties" : {
            "dave_inner": {
              "type":"array",
              "items" : {
                "type":"string"
              }
            }
          }
        },
        "ArrayOfObject": {
            "title": "ArrayOfObject resource",
            "properties": {
                "chris_outer": {
                    "type": "array",
                    "description" : "Array of objects",
                    "items" : {
                      "$ref": "#/definitions/SimpleObject"
                    }
                }
            }
        },
        "SimpleObject": {
            "title": "SimpleObject resource",
            "properties": {
                "chris_inner": {
                    "description": "Just a plain old string",
                    "type": "string"
                }
            }
        },
        "Error": {
            "title": "Error resource",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}
