footer {
    padding-top:18px; 
    height: 60px; 
    background-color: #ecf0f1;
}
.valigned > a i {
    font-size: 18px;
    vertical-align: middle;
}
.valigned > a p {
    display: inline;
    padding-right: 20px;
}
footer a:link    {color: #337ab7;}
footer a:visited {color: #337ab7;}
footer a:hover   {color: #337ab7;
                  text-decoration: underline; }
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
