<!-- Inject API key(s). This would probably be done via an ajax request to a server to request the API keys for
     the signed in user.
  -->
<script type="text/javascript">
    $(document).ready(function(){
        explorerAddApiKey("A test key","6jnD1-ZnGBsT2ST7mSm9ASaGxO7BPWU4iz9TlfE2");
        explorerInjectApiKeys();
    });
</script>
