  <script>
  function getReadmeContent(url){
      $.get(url, function(data, status){
                       $(".readmes").append($(data).find(".main").html());
                   });
  }
  </script>

[: template "fragments/reference/summary_header" . :]

[: overlay "banner" . :]
[: overlay "description" . :]

[: overlay "properties" . :]
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <!-- <th>Additional</th> -->
      </tr>
    </thead>
    <tbody>
      [: template "fragments/reference/properties" .MainResource.Resource :]
    </tbody>
  </table>

[: if .Readmes :]
  <div class="page-header">
    <h1 class="pull-left nomargin"> Related Guides </h1>
    <div class="clearfix"></div>
  </div>
    <div class="readmes">
      [: range $readmeUrl := .Readmes :]
          <script>
            console.log("found: [: $readmeUrl :] ")
            getReadmeContent([: $readmeUrl :])
          </script>
      [: end :]
    </div>
[: end :]


</div>

[: overlay "additional" . :]

