<header class="page-header group">
    <h1 class="heading-xlarge">[: .Title :]</h1>
</header>

[: template "themes/companieshouse-gov-uk/fragments/docs/header" .API.Name :]
[: template "themes/companieshouse-gov-uk/fragments/docs/api-body" . :]
