<header class="page-header group">
    <h1 class="heading-xlarge">[: .Title :]</h1>
</header>

[: template "themes/companieshouse-gov-uk/fragments/docs/header" .Method.Name :]

<p>[: .Method.Description :]</p>

<h2 class="heading-medium">Request</h2>

<pre>[: uc .Method.Method :] [: .API.URL :][: .Method.Path :]</pre>

[: if .Method.PathParams :]
  <h3 class="heading-small">Path parameters</h3>
  [: template "themes/companieshouse-gov-uk/fragments/docs/params" .Method.PathParams :]
[: end :]

[: if .Method.QueryParams :]
  <h3 class="heading-small">Query parameters</h3>
  [: template "themes/companieshouse-gov-uk/fragments/docs/params" .Method.QueryParams :]
[: end :]

[: if .Method.HeaderParams :]
  <h3 class="heading-small">Request headers</h3>
  [: template "themes/companieshouse-gov-uk/fragments/docs/params" .Method.HeaderParams :]
[: end :]

[: if .Method.FormParams :]
  <h3 class="heading-small">Form parameters</h3>
  [: template "themes/companieshouse-gov-uk/fragments/docs/params" .Method.FormParams :]
[: end :]

[: if .Method.BodyParam :]
  <h3 class="heading-small">Request body</h3>
  <p>TODO: ...</p>
[: end :]

<h2 class="heading-medium">Response</h2>

<p>
  The following HTTP status codes may be returned, optionally with a response resource.
</p>

<table class="display-table">
  <thead>
    <tr>
      <th>Status&nbsp;code</th>
      <th>Description</th>
      <th>Resource</th>
    </tr>
  </thead>
  <tbody>
    [: range $status, $response := .Method.Responses :]
    <tr>
      <td class="type">[: $status :]</td>
      <td class="hyphenate Hyphenator616hide">[: $response.Description :]</td>
      <td class="resource">[: if $response.Schema :]<a href="/docs/[: $.API.ID :]/[: $.Method.ID :]/[: $response.Schema.ID :]">[: $response.Schema.Title :]</a>[: end :]</td>
    </tr>
    [: end :]
    [: if .Method.DefaultResponse :]
    <tr>
      <td class="type">default</td>
      <td class="hyphenate Hyphenator616hide">[: .Method.DefaultResponse.Description :]</td>
      <td class="resource">[: if .Method.DefaultResponse.Schema :]<a href="/docs/[: .API.ID :]/[: .Method.ID :]/[: .Method.DefaultResponse.Schema.ID :]">[: .Method.DefaultResponse.Schema.Title :]</a>[: end :]</td>
    </tr>
    [: end :]
  </tbody>
</table>

[: template "themes/companieshouse-gov-uk/fragments/explorer" . :]
