<header class="page-header group">
    <h1 class="heading-xlarge">[: .Title :]</h1>
</header>

[: template "themes/companieshouse-gov-uk/fragments/docs/header" .Resource.Title :]

<h2 class="heading-medium">Methods</h2>

<ul class="list-bullet">
  [: range .Resource.Methods :]
    <li><a href="/docs/[: .API.ID :]/[: .ID :]">[: .Method :]</a> - [: .Name :]</li>
  [: end :]
</ul>

<h2 class="heading-medium">Resource</h2>

<pre><code>[: .Resource.Schema :]</code></pre>

<h3 class="heading-small">Example</h3>

<pre><code>[: .Resource.Example :]</code></pre>

<h3 class="heading-small">Properties</h3>

<table class="display-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Additional</th>
    </tr>
  </thead>
  <tbody>
    [: template "themes/companieshouse-gov-uk/fragments/docs/properties" .Resource :]
  </tbody>
</table>
