/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.glyphicon {
    width: 14px;
    height: 14px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 25px;
}
.sub-sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  font-weight: bold;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav > li {
    padding: 0 0 5px 0;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding: 0 20px 0 14px;
}

.nav-inner > li > a {
    padding :0;
}
.nav-toggle {
  margin-left: -14px;
}
.nav-selected {
  font-weight: bold;
}
.nav-sidebar > li > h4 {
  font-size: 15px;
  padding-left: 14px;
  margin-bottom: 0px;
}
.nav-sidebar > li {
  padding-left: 20px;
}
.nav-sidebar > li > ul {
  padding: 0px;
  padding-left: 30px; /* 40 */
  list-style: none;
}
.nav-sidebar > li > ul > li > ul {
  /* padding-left: 20px; */
  list-style: none;
}
.nav-sidebar a {
  cursor:pointer;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav-toggle.collapsed:before {
    content: "▸"; /* Right caret */
    margin-right: 5px;
}
.nav-toggle:not(.collapsed):before {
    content: "▾"; /* down caret */
    margin-right: 5px;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

pre, code, pre code, .attribute {
    color: #008000;
}

td pre {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #f9f9f9;
}

li code, td p code {
    background-color: #f0f0f0;
}

td.resource {
    color: #008000;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace; 
    text-transform: none;
    font-size: 95%
}

td span.object {
    /* color: #2f373b; */
    color: #a0a0a0;
}

/* Allows button to be on same row as heading */
.btn-group{
    position: relative;
    top: 0px;
}

.nomargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

