/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 73px; /* Takes into account the header */
    margin-bottom: 100px; /* For the footer and a bit of space*/
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    background-color: #F0F4F7;
    color: #34495e;
    font-size: 15px;
}

img {
    max-width: 100%;
}

.header-icon {
    position: relative;
    top: -8px;
    color: white;
}

.page-header {
    margin-top: 20px;
}

.debug_body {
    margin-bottom: 400px; /* For the debug footer */
}

html {
    position: relative;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
}

h1,
.h1 {
    font-size: 33px;
}

.sub-header {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 23px;
}

.sub-sub-header {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.sub-sub-sub-header {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.sub-sub-sub-sub-header {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navbar {
    background-image: url("/images/header-background.png");
    background-size: cover;
    display: inline;
}

.navbar a.navbar-brand {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 90, 90, 1);
    font-size: 16px;
}

.navbar a.navbar-brand.plorer {
    font-size: 18px;
}

.navbar-nav > li,
.navbar-nav > li > a,
.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: inherit;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 90, 90, 1);
    display: inline;
    padding-top: 15px;
}

.navbar-nav > li > a:hover {
    text-decoration: underline;
}

.navbar-nav > .deactivate {
    display: none;
}

.shadow {
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.45);
}

.nav-pills > li > a {
    padding: 6px 0 2px 0;
    margin-right: 20px;

    background-color: transparent !important;
    text-decoration: none;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(0, 90, 90, 1);
    font-size: 15px;
}

.nav-pills > .active > a {
    border-radius: 0px;
    color: white;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.nav-pills > li > a:hover {
    color: white !important;
}

.nav-pills > li > a {
    border-radius: 0px;
    color: #d3d3d3;
}

.footer {
    display: none;
    z-index: 1100;
    position: absolute;
    padding-top: 15px;
    width: 100%;
    left: 0px;
    background-color: #032939;
    text-shadow: 0 1px 0 rgba(0, 90, 90, 1);
    color: white;
    bottom: 0;
    height: 50px;
    margin: 0;
}

.footer-debug {
    z-index: 1100;
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 16px;
    padding-bottom: 15px;
    color: #202020;
    background-color: #e5e5e5;
    border-top: 1px solid #eee;
    text-shadow: 0 0px 0 rgba(120, 120, 120, 1);
}

.footer-debug > div {
    padding-top: 0px;
    padding-bottom: 0px;
}

.jsonerror {
    display: block;
    color: #800000;
}

/*
 * Global add-ons
 */

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

#reference-nav {
    margin-top: 1.2em;
}

@media (max-width: 767px) {
    .side-nav.affix, .side-nav.affix-bottom {
        position: relative;
    }
}

@media (min-width: 768px) {
    .side-nav.affix, .side-nav.affix-bottom {
        width: 23%;
    }
}

@media (min-width: 992px) {
    .side-nav.affix, .side-nav.affix-bottom {
        width: 18%;
    }
}

@media (min-width: 1200px) {
    .side-nav.affix, .side-nav.affix-bottom {
        width: 19%;
    }
}

.nav-toggle.open {
    color: green;
    /* color: #B522B5; */
    font-weight: bold;
}

/* Sidebar navigation */
.nav-sidebar {
    width: 100%;
}

.nav-sidebar > li > a {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.nav-inner > li > a {
    font-size: 0.95em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
}

.nav-inner .summary {
    margin: 0px;
}

.nav-inner:after {
    padding-bottom: 0.3em;
}

.nav-toggle {
    margin-left: -14px;
}

.nav a.nav-selected {
    font-weight: bold;
    color: #000000;
}

.nav-sidebar > li.heading {
    padding: 9px 4.5px 4.5px 0;
    left: -8px;
    font-weight: bold;
    font-size: 1.04em;
}

.nav-sidebar > li.heading-top {
    padding-top: 0;
}

.nav-sidebar > li > ul {
    /* padding: 0.3em 0 0.75em 0.4em; */
    padding: 0 0 0.0em 0.4em;
    list-style: none;
}

.nav-sidebar > li > ul > li > ul {
    list-style: none;
    margin: 2em 0 0 0;
}

.nav-sidebar a {
    cursor: pointer;
    /*color: #34495e; */
}

.nav a {
    color: #34495e;
}

/*
.nav-sidebar > .active > a,
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}
*/
.nav-toggle.collapsed:before {
    content: "▸"; /* Right caret */
    margin-right: 5px;
}

.nav-toggle:not(.collapsed):before {
    content: "▾"; /* down caret */
    margin-right: 3px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

pre, code, pre code, .attribute {
    color: #008000;
    font-size: 0.97em;
}

td pre {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 0.9em;
    background-color: inherit;
}

li code, td p code {
    /* background-color: #f0f0f0; */
    background-color: inherit;
}

td p {
    margin: 0;
}

td li {
    font-size: 0.97em;
}

td.resource {
    color: #008000;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-transform: none;
    font-size: 94%
}

td span.object {
    /* color: #2f373b; */
    color: #a0a0a0;
}

blockquote {
    font-size: 15px;
    color: #707070;
}

/* Allows button to be on same row as heading */
.btn-group {
    position: relative;
    top: 0px;
}

.nomargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottommargin {
    margin-top: 5px;
    font-family: "HelveticaNeueW01-45Ligh", sans-serif;
    font-weight: 300;
}

.apiTitle {
    color: inherit;
    font-size: 22px;
}

.status-desc {
    font-weight: bold;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

td > input {
    min-width: 300px;
}

.mime-group {
    display: none;
}

.wix-logo {
    width: 35px;
    height: 15px;
    object-fit: contain;
    margin-top: 2px;
    margin-right: 1px;
    float: left;
}

.nav-title.main {
    height: 36px;
    line-height: 2.5;
    margin-bottom: inherit;
    margin-top: inherit;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.api-logo {
    width: 15px;
    height: 15px;
    margin-left: 27px;
    margin-right: 6px;
    margin-bottom: 5px;
}

.feedback {
    font-size: 14px;
    font-weight: lighter;
}

.side-nav.affix{
    height: 90%;
    overflow-y: auto;
}

.side-nav.affix.main {
    height: 100%;
}

.rpcApiSearch {
    position: absolute;
    bottom: 295px;
    margin-left: 31px;
    font-family: "HelveticaNeueW01-45Ligh", sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 121.2px;
    height: 18px;
}

.rpcApiSearchLink {
    cursor: pointer;
}

.soonDivider {
    margin-top: 40px;
    width: 75%;
    float: right;
}

.dividerContainer {
    width: 929px;
    margin-left: -12px;
    font-family: "HelveticaNeueW01-55Roman", sans-serif;
}

.divider {
    width: 350px;
    height: 1px;
    background-color: #dfe5eb;
    display: inline-block;
    float: left;

}

.divider.right {
    margin-left: 23px;
    float: none;
}

.dividerMenu {
    width: 126px;
    height: 1px;
    background-color: #dfe5eb;
    margin-bottom: 22px;
    margin-left: -5px;
}

.col-sm-6 {
    margin-top: 25px;
    width: 929px;
    height: 90px;
    border-radius: 8px;
    background-color: #ffffff;
}

.scroll {
    width: 3px;
    height: 36px;
    float: left;
}

.container-fluid {
    padding-left: inherit;
}

.Feedback-Bubble {
    width: 15px;
    height: 14px;
    object-fit: contain;
    margin-right: 7px;
}

.nav.navbar-nav.navbar-right {
    margin-right: 40px;
}

img.Icon {
    width: 9px;
    height: 5px;
    transform: rotate(-90deg);
    margin-top: 8px;
}

img.Icon.black {
    transform: inherit;
    margin-bottom: 43px;
    cursor: pointer;
}

img.Icon.rectangle {
    margin-top: initial;
}

img.Icon.rpcSearch {
    margin-top: initial;
    margin-bottom: 2px;
    margin-left: 2px;
}

.circle {
    width: 36px;
    height: 36px;
    display: block;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    background-position:50% 50%;
    background-repeat:no-repeat;
}

.circle.business {
    background-color: #733ca6;
    background-image: url("https://s3.amazonaws.com/wixplorer-readme-images/business-logo-white.svg");
}

.circle.core {
    background-color:#4596e0;
    background-image: url("https://s3.amazonaws.com/wixplorer-readme-images/core-logo-white.svg");
}

.circle.client {
    background-color:#b13dac;
    background-image: url("https://s3.amazonaws.com/wixplorer-readme-images/editor-logo-white.svg");
}

.circle.business.soon,
.circle.core.soon,
.circle.client.soon {
    background-color:#D7DEE4;
}

.api {
    font-weight: 700;
}

.rectangle {
    cursor: pointer;
}

.rectangle.wixplorer {
    background-color: #E4EAEF;
}

.rectangleBorder {
    width: 912px;
    height: 73.3px;
    border-radius: 3px;
    border: dashed 1px #96a0a9;
    margin-top: 8px;
    margin-left: -7px;
}

.rectangle:hover {
    box-shadow: 0 0 5px 0 rgba(29, 45, 60, 0.2);
}

.unapprovedRectangle {
    border-color: #5babef;
    border-width: medium;
    border-style: double;
    background-color: lightgrey;
}

.explore {
    float: right;
    margin-top: 19px;
    margin-right: 35px;
    font-size: 16px;
    display: none;
}

.explore.business {
    color: #733ca6;
}

.explore.core {
    color: #4596e0;
}

.explore.client {
    color: #b13dac;
}

.apiCategory {
    width: 75%;
    float: right;
    display: none;
    font-family: "HelveticaNeueW01-45Ligh", sans-serif;
    font-weight: 300;
}

.apiCategory.soon {
    display: block;
}

.apiCategory.wixplorer {
    display: block;
}

.hiddenApi {
    display: none;
}

.unapproved {
    display: none;
}

.approveButton {
    font-size: 14px;
    color: #3899ec;
    line-height: 18px;
    background-color: #fff;
    border-color: #5babef;
    height: 30px;
    border-radius: 15px;
    padding: 0 17px;
    margin-left: 25px;
    margin-top: 55px;
}

.unApproveButton {
    font-size: 14px;
    color: red;
    line-height: 18px;
    background-color: #fff;
    border-color: red;
    height: 30px;
    border-radius: 15px;
    padding: 0 17px;
    margin-left: 25px;
    margin-top: 55px;
    display: none;
}

.headerCenter {
    width: 680px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.headerImage {
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    text-align: center;
    color: #ffffff;
}

.headerImage.text {
    font-size: 20px;
    line-height: 0.77;
}

.containerFluidMain {
    margin-top: 140px;
}

.pageNotFound {
    margin-left: 300px;
}

#containerFluidApi {
    margin-top: initial;
}

#header {
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeueW01-45Ligh", sans-serif;
    font-weight: 300;
    width: 97%;
}

#showComingSoon {
    padding-left: 21px;
    padding-right: 10px;
    float: left;
    font-size: 13px;
    line-height: 3.1;
    color: #162d3d;
    cursor: pointer;
}

#stage {
    width: 95%;
}