<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class=""><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>[: .Title :]</title>
   <script>
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
   </script>

   <!--[if IE 8]>
      <script type="text/javascript">
         (function(){if(window.opera){return;}
         setTimeout(function(){var a=document,g,b={families:(g=
         ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-a7369d48db4c172b4371ab9def59c5c9.css"]},
         c="https://assets.digital.cabinet-office.gov.uk/static/vendor/goog/webfont-debug-96870cf9f159ed811fd43c39bdf4656b.js",d="script",
         e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
         ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
         .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
  </script>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="[: $.Config.CDNURL :]/script/vendor/assets-digital-cabinet-office-gov-uk-static/ie.js" type="text/javascript"></script>
   <![endif]-->

    <link rel="shortcut icon" href="[: $.Config.CDNURL :]/images/favicon.ico" type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="144x144" href="[: $.Config.CDNURL :]/images/apple-touch-icon-144x144.png" />
   <!-- For iPhone with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="114x114" href="[: $.Config.CDNURL :]/images/apple-touch-icon-114x114.png" />
   <!-- For first- and second-generation iPad: --><link rel="apple-touch-icon-precomposed" sizes="72x72" href="[: $.Config.CDNURL :]/images/apple-touch-icon-72x72.png" />
   <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: --><link rel="apple-touch-icon-precomposed" href="[: $.Config.CDNURL :]/images/apple-touch-icon-57x57.png" />

   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta property="og:image" content="[: $.Config.CDNURL :]/images/opengraph-image.jpg" />



   <!--[if gt IE 8]><!--><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/govuk-template.css" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
   <!--[if IE 6]><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
   <!--[if IE 7]><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
   <!--[if IE 8]><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if gt IE 8]><!--><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/frontend-application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
   <link rel="canonical" href="/" />

   <meta name="description" content="Companies House new beta service for searching and filing company information." />

    <!--[if IE 6]><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/frontend-application-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/frontend-application-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="[: $.Config.CDNURL :]/style/assets-digital-cabinet-office-gov-uk-static/frontend-application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->


    <script src='/js/jquery-1.8.0.min.js' type='text/javascript'></script>
    <link href="/css/xcode.css"   media="screen" rel="stylesheet" type="text/css">
    <!--[if gte IE 10]><!-- and all other browsers -->
    <script src='/js/highlight.pack.js'   type='text/javascript'></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="[: $.Config.CDNURL :]/script/hyphenate.js"   type="text/javascript"></script>
    <!--[endif]-->
    <!--[if lt IE 10]>
        <script src='/script/ie_hljs.js' type='text/javascript'></script>
    <![endif]-->

    <!-- Companies House Styles and Scripts -->

    <!--[if gt IE 8]><!--><link href="[: $.Config.CDNURL :]/style/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="[: $.Config.CDNURL :]/style/application-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="[: $.Config.CDNURL :]/style/application-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="[: $.Config.CDNURL :]/style/application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="[: $.Config.CDNURL :]/style/print.css" media="print" rel="stylesheet" type="text/css" />

</head>

<body>
  <div class="entire-wrapper">
      <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a href="" class="visuallyhidden">Skip to main content</a>

<!-- CH.GOV.UK HEADER -->
  <header class="with-proposition" id="global-header" role="banner">
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="/" title="Go to the Companies House Developer Hub" id="logo" class="content">Companies House</a>
        </div>
      </div>

      <div class="header-proposition">
        <div class="content">
          <nav id="proposition-menu">
            <a href="/" id="proposition-name">Developer Hub</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!--end header-->

    <!-- banner_notification -->
  <main id="page-container" class="<% $classes %>" role="main">


      <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a trial service - your <a href="https://response.questback.com/companieshouse/chpbeta/" target="_blank" [: if $.Config.Piwik.Embed :] onclick="javascript:_paq.push(['trackEvent', 'Beta', 'Feedback']);"[: end :]>feedback</a> will help us to improve it.</span>
            </p>
        </div>

            <div class="grid-row">

                <div class="column-third">
                    [: template "themes/companieshouse-gov-uk/fragments/sidenav" . :]
                </div><!--end contents-->


                <div class="column-two-thirds">
<!--[if lt IE 10]>
            <div id="ie-prompt">You are using an old version of Internet Explorer. Some features of this developer site may not work correctly. Consider upgrading to a <a href="http://whatbrowser.org" target="_blank">modern browser</a>.
            </div>
<![endif]-->
                   [: yield :]
                </div><!--end column-two-thirds -->
            </div><!--end grid-row -->

	</main>
  <!--end main-->
  <div class="push"></div>


</div> <!-- end of entire-wrapper -->

    <footer class="group js-footer" id="footer" role="contentinfo">
        <nav>
          <div>
            <ul class="list-bullet">
               <li><a href="http://www.companieshouse.gov.uk/legal/termsAndConditions.shtml">Policies</a></li>
               <li><a href="<% $c.config.url_for.companies_house_search_page %>/help/cookies">Cookies</a></li>
               <li><a href="<% $c.config.url_for.companies_house_search_page %>/help/contact-us">Contact us</a></li>
          </ul>
         </div>
        </nav>
    </footer>
    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

  </body>
</html>
