<h1>API explorer concepts</h1>

<p>The Swaggerly in-page API explorer is similar in function to <em>swagger-ui</em> as it allows user's to try out API calls
from within the reference page, without needing to write any client code.</p>

<p>The Swaggerly in-page API explorer detects when a method is configured as authenticated, and prompts for appropriate
credentials to be supplied as part of the request being explored. These could be one of API key or an OAuth2 access token.</p>

<p>If you have, or are building, a developer site that allows users to register for and manage their own API keys, you may want 
Swaggerly to integrate with that site, so that a user's API keys are automatically available to the explorer once the user has
signed-in. Swaggerly provides a simple Javascript interface via which you can pass API keys to the explorer, through a piece
of custom Javascript.</p>
