<h1>Getting started</h1>
<p>The Getting Started guide shows you how to download and install Swaggerly; how to quickly
   get an OpenAPI Swagger 2.0 specification rendered, and some useful configuration options
   to tune the presentation.</p>
<h2>Download Swaggerly</h2>
<p><a href="">Download the latest release</a> of Swaggerly for you operating system, and unpack it.</p>
<pre><code>tar -zxf swaggerly-*.tgz
cd swaggerly</code></pre>

<h2>Basic configuration</h2>
<p>Swaggerly requires little configuration to get started, just where to find your OpenAPI Swagger 2.0
specifications. Configuration parameters can be specified on the command line, or by setting
environment variables.</p>
<p>For this example, we will specify the Swagger specification location on the command line:</p>
<pre><code>./swaggerly -spec-dir=examples/specifications/petstore</code></pre>

<p>This will start serving the example <em>petstore</em> specification included in the Swaggerly distribution.</p>
<p>By default, Swaggerly will start serving reference documentation on port 3123, so point your web browser at
   <a href="http://localhost:3123">http://localhost:3123</a></p>
