    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            &copy; DapperDox 2017
          </div>
          <div class="col-lg-4 col-md-4">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="valigned align-right">
                <a href="https://github.com/DapperDox/dapperdox"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;Open Source</a>
                <a href="https://twitter.com/DapperDox"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Twitter</a>
                <!--
                <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i> <p>Google+</p></a>
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i> <p>Facebook</p></a>
                -->
            </div>
          </div>
        </div>
      </div>
    </footer>
