<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="DapperDox - Beautiful integrated OpenAPI documentation">
    <meta name="author" content="Chris Smith">

    <title>DapperDox – Beautiful, integrated, OpenAPI documentation</title>

    <!--
    <link rel="shortcut icon" href="/images/favicon32.ico" />
    <link rel="shortcut icon" href="/images/favicon16.ico" />
    <link rel="icon" type="image/png" href="/images/favicon32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon16.png" sizes="16x16" />
    -->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/fav/manifest.json">
    <link rel="mask-icon" href="/images/fav/safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 
    <!-- Fonts -->
    <!-- <link href="/font-awesome-4.6.3/css/font-awesome.css" rel='stylesheet' type='text/css'> -->
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet"> 
	<link href='http://fonts.googleapis.com/css?family=Muli:400,700' rel='stylesheet' type='text/css'> 
	
    <!--
    <link href="/css/general.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
    -->
	<link href="/css/docgeneric.css" rel="stylesheet">
	<link href="/css/docs.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
	
	<script src="/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
	<![endif]-->

    <link href="/css/hilight-dapperdox.css" rel="stylesheet">
</head>

<body id="home" class="" style="overflow: visible">
    [: template "header" :]
		   
	<div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 main">
            [: yield :]
		</div>
      </div>
	</div>

    [: template "footer" . :]
	
    <!-- JS / JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		    //$('.navbar-default').stickUp();
            $('.items').hide();
            var $pagename=decodeURI( window.location.pathname );

            var $parent=$('ul[id="navigation"]')
            var $element=$parent.find('a[href$="'+$pagename+'"]');
            //console.log( $element );

            var api_id = $element.data('outer');
            var toggler = $("#toggle"+api_id);
            var outerul = $("#ul"+api_id);

            outerul.addClass('in');
            toggler.addClass('open');
            toggler.removeClass('collapsed');
            $element.addClass('nav-selected');

            $parent.removeClass('hide');
            $('body').removeClass('hide');
		});
	  });
	</script>
    [: template "google_analytics" . :]
</body>
</html>
